@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.app {
	min-height: 100vh;
	display: flex;
	font-family: "Rubik", sans-serif;
	background: #200122; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6f0000, #200122);
	background: linear-gradient(to right, #6f0000, #200122);
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
